
@{
    Layout = null;
}
@model List<Uniftec.ProjetosWeb.GerenciamentoDatacenter.Models.Servidor>

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #success, #danger, #warning, #info {
            display: none;
        }
    </style>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Alterar dados</title>
    <link href="~/Content/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">

    <div id="alerts">
        <div class="alert alert-success" role="alert" id="success">

        </div>
        <div class="alert alert-danger" role="alert" id="danger">

        </div>
        <div class="alert alert-warning" role="alert" id="warning">

        </div>
        <div class="alert alert-info" role="alert" id="info">

        </div>
    </div>

    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Gerenciar Conta</h3></div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="hidden" name="usuario.Id" id="usuarioId" value="@ViewBag.usuario.Id" />
                                                    <label class="small mb-1" for="inputFirstName">Nome</label>
                                                    <input class="form-control py-4" id="inputFirstName" value="@ViewBag.usuario.PrimeiroNome" type="text" placeholder="Insira o nome" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputLastName">Sobrenome</label>
                                                    <input class="form-control py-4" id="inputLastName" value="@ViewBag.usuario.SegundoNome" type="text" placeholder="Insira o sobrenome" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                                            <input class="form-control py-4" id="inputEmailAddress" value="@ViewBag.usuario.Email" type="email" aria-describedby="emailHelp" placeholder="Insira o endereço de e-mail" />
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputFunction">Função</label>
                                                    <select class="form-control" id="inputFunction">
                                                        <option value="Null">Selecione</option>
                                                        <option value="Suporte">Suporte</option>
                                                        <option value="Gerente">Gerente</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputServerAccess">Acesso aos Servidores</label>
                                                    <select multiple="" class="form-control" id="inputServerAccess">
                                                        @foreach (var servidor in Model)
                                                        {
                                                            <option value="@servidor.Id">SERVIDOR @servidor.Nome</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputPassword">Senha</label>
                                                    <input class="form-control py-4" id="inputPassword" type="password" placeholder="Insira a senha" />
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn btn-warning btn-block" onclick="altera()">Alterar</a>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="~/Usuarios/Gerenciar">Retornar para Página Anterior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div>
                            <a href="#">Política de Privacidade</a>
                            &middot;
                            <a href="#">Termos &amp; Condições</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/src/js/scripts.js"></script>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $("#inputFunction").val("@ViewBag.usuario.Funcao");
    var listaServidores = @Html.Raw(Json.Encode(ViewBag.usuario.ListaServidores));
    var listaIds = "";

    for (i = 0; i < listaServidores.length; i++){
       listaIds += listaServidores[i].Id+",";
    }

    $.each(listaIds.split(","), function (i, e) {
        $("#inputServerAccess option[value='" + e + "']").prop("selected", true);
    });
    
    function altera() {

        var idsServidores = [];
        $.each($("#inputServerAccess option:selected"), function () {
            idsServidores.push($(this).val());
        });

        if (isEmpty(idsServidores) && validaDados()) {

            var Usuario = new Object();
            Usuario.Id = $("#usuarioId").val();
            Usuario.PrimeiroNome = $("#inputFirstName").val();
            Usuario.SegundoNome = $("#inputLastName").val();
            Usuario.Email = $("#inputEmailAddress").val();
            Usuario.Funcao = $("#inputFunction").val();
            Usuario.Servidores = "n";
            Usuario.Senha = $("#inputPassword").val();
            Usuario.ListaServidores = [];

            var url = "/Usuarios/ProcessarUpdatePost";
            var params = { Usuario: Usuario, idsServidores: idsServidores };
            $.post(url, params, RetornoGravacao);
        }
    }

    function RetornoGravacao(retorno) {
       
        if (retorno.MensagemErro) {
            exibeAlert("danger", "Ocorreu um erro!");
        }
        else {
            exibeAlert("success", "Alterado com Sucesso!");
        }
    }

    function isEmpty(idsServidores) {
        if (idsServidores.length == 0) {
            exibeAlert("warning", "Selecione ao menos um Servidor!");
            return false;
        } else {
            return true;
        }
    }

    function validaDados() {

        if ($("#inputFirstName").val() == "") {

            exibeAlert("warning", "Informe o nome.");
            return false;

        } else if ($("#inputLastName").val() == "") {

            exibeAlert("warning", "Informe o sobrenome.");
            return false;

        } else if ($("#inputEmailAddress").val() == "") {

            exibeAlert("warning", "Informe o e-mail.");
            return false;

        } else if ($("#inputFunction").val() == "Null" || $("#inputFunction").val() == "") {

            exibeAlert("warning", "Selecione uma função");
            return false;

        } else if ($("#inputPassword").val() == "") {

            exibeAlert("warning", "Informe o e-mail.");
            return false;

        }else {
            return true;
        }

    }

    function exibeAlert(tipo, mensagem) {

        $("#" + tipo + "").text(mensagem);
        $("#" + tipo + "").fadeIn(300).delay(3000).fadeOut(400);

    }
</script>